body {
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
}
.chooseCity {
    position: fixed;
  background: url(../photos/star2-4167939.jpg);
  /*linear-gradient(rgb(204, 78, 29), rgb(153, 45, 13)); */
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
    text-align: center;
    z-index: 2;
}
.chooseCity h1 {
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    margin-top: 15vh;
    color: whitesmoke;
}
.chooseCity form {
    display: grid;
    grid-template-rows: 10vh 30px 40px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;

}

/* Element <ul> wyświetlający podpowiedzi wyszukiwania */
.suggestions {
    position: absolute;
    list-style-type: none;
}

/* Kolor podświetlonych liter wyszukiwania */
.hl {
    background-color: aqua;
}

.name {
    text-transform: capitalize;
}

.chooseCity #putCity {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    width: 60vw;
    text-align: center;
    border-radius: 20px;
    background-color: whitesmoke;
    border: 2px solid orange;
    font-size: 16px;
}
.chooseCity #defaultCity {
    justify-self: right;
    align-self: center;
    font-size: 15px;
    color: whitesmoke;
}
.chooseCity #defaultCity input {
    height: 25px;
    width: 25px;
}
.chooseCity #autolocalization {
    justify-self: left;
    align-self: center;
    margin-left: 15px;
    font-size: 15px;
    color: whitesmoke;
}
.chooseCity #autolocalization input {
    height: 25px;
    width: 25px;
}
.chooseCity #showWeather{
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    width: 40vw;
    border-radius: 20px;
    color: grey;
    background-color: whitesmoke;
    border: 2px solid orange;
}
.weatherPresentation {
    position: relative;
    background-image: url(../photos/slonecznapogoda.jpg);
    background-position: center;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 4fr 2fr 2fr 2fr;
}
.weatherPresentation #cityName {
    margin-top: 5vh;
    font-size: 60px;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}
.weatherPresentation #datefull {
    font-size: 15px;
    align-self: center;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}
.weatherPresentation #otherCity {
    font-size: 15px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    align-self: center;
    padding: 10px;
    width: 70vw;
    background-color: white;
    border-radius: 20px;
    border: 2px solid black;
}
.weatherPresentation .temperature {
    display: grid;
    font-size: 80px;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    align-content: center;
}
.weatherPresentation #sunrise {
    font-size: 15px;
    grid-row-start: 7;
    grid-row-end: 8;
    text-align: center;
    align-self: center;
    background-color: rgba(199, 223, 230, 0.3);
}
.weatherPresentation #sunset {
    font-size: 15px;
    grid-row-start: 7;
    grid-row-end: 8;
    text-align: center;
    align-self: center;
    background-color:  rgba(199, 223, 230, 0.3);
}

.weatherPresentation .precipitation {
    display: grid;
    font-size: 20px;
    text-align: center;
    align-content: center;
    background-color: rgba(199, 223, 230, 0.3);
}
.weatherPresentation .wind {
    display: grid;
    font-size: 20px;
    text-align: center;
    align-content: center;
    background-color: rgba(199, 223, 230, 0.3);
}
.weatherPresentation .pressure {
    display: grid;
    font-size: 20px;
    text-align: center;
    align-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color:  rgba(199, 223, 230, 0.3);
}
.weatherPresentation #weatherHourTitle {
    display: grid;
    font-size: 25px;
    height: 10vh;
    grid-row-start: 8;
    grid-row-end: 9;
    background-color: blueviolet;
    border-bottom: 2px solid black;
    text-align: center;
    align-content: center;
}
.weatherPresentation #weatherWeekTitle {
    display: grid;
    font-size: 25px;
    height: 10vh;
    grid-row-start: 8;
    grid-row-end: 9;
    background-color: rgb(157, 92, 218);
    border-bottom: 2px solid black;
    text-align: center;
    align-content: center;
}
.weatherHour section {
    position: relative;
    width: 100%;
    height: 100px;
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-image: linear-gradient(90deg, rgb(105, 118, 175), rgb(157, 157, 241));
    border-bottom: 2px solid black;
}
.weatherHour section .hour {
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: center;
    align-self: center;
    font-size: 25px;
}
.weatherHour section .date{
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    align-self: center;
    font-size: 12px;
}
.weatherHour section .temperature {
    grid-row-start: 1;
    grid-row-end: 4;
    text-align: center;
    align-self: center;
    font-size: 30px;
}
.weatherHour section .precipitation {
    margin-left: 4vw;
    justify-content: flex-start;
    align-self: center;
    font-size: 15px;
}
.weatherHour section .wind {
    margin-left: 4vw;
    justify-content: flex-start;
    align-self: center;
    font-size: 15px;
}
.weatherHour section .pressure {
    margin-left: 4vw;
    justify-content: flex-start;
    align-self: center;
    font-size: 15px;
}
.weatherHour section .weatherIcon {
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    justify-self: center;
    align-self: center;
}
.weatherHour section .weatherIcon img {
    max-height: 100px;
    max-width: 100px;
}
.weatherWeek section {
    position: relative;
    width: 100%;
    height: 100px;
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-image: linear-gradient(90deg, rgb(105, 118, 175), rgb(157, 157, 241));
    border-bottom: 2px solid black;
}
.weatherWeek section .day {
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    align-self: center;
    font-size: 18px;
}
.weatherWeek section .date {
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    align-self: center;
    font-size: 14px;
}
.weatherWeek section .hour{
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    align-self: center;
    font-size: 14px;
}
.weatherWeek section .temperature {
    grid-row-start: 1;
    grid-row-end: 4;
    text-align: center;
    align-self: center;
    font-size: 30px;
}
.weatherWeek section .precipitation {
    margin-left: 4vw;
    justify-content: flex-start;
    align-self: center;
    font-size: 15px;
}
.weatherWeek section .wind {
    margin-left: 4vw;
    justify-content: flex-start;
    align-self: center;
    font-size: 15px;
}
.weatherWeek section .pressure {
    margin-left: 4vw;
    justify-content: flex-start;
    align-self: center;
    font-size: 15px;
}
.weatherWeek section .weatherIcon {
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    justify-self: center;
    align-self: center;
}
.weatherWeek section .weatherIcon img {
    max-height: 100px;
    max-width: 100px;
}